@import '../../../style/vars';

.biereHstoire{

    &-img{
        border-right: 1px solid $color-junction;
        box-shadow: 2px 0px 5px 0px #B9B9B9;
        width: 30%;
        height: 500px;          
        object-fit: contain;
    }

    &_contain{
        width: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        line-height: 2.5rem;
        
        &-style, &-color, &-alcohol, &-brewery, &-country, &-description, &-star {
            padding: 0 400px;
        }

}
}