@import '../../../style/vars';


.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px
  }
  
  .top_header_logo {
    display: flex;
    align-items: center;
    color: $color-green-medium;
  }
  
  .top_header-logo {
    padding-top: -20px;
    width: 50px;
  }
  
  .top_header-title {
    font-size: 1.9rem;
    padding-top: 10px;
    color: $color-green-medium;
    text-shadow: 1px 1px $color-green-dark;
  }

  em{
    font-size: 1.5rem;
    color: $color-green-dark;
    font-style: italic;
  }
  
  
  
  .top_header_auth-profil {
    width: 50px;
    margin-right: 10px;
  }

  .top_header_auth-logout {
    // background-image: url("../../../assets/img/icon_logout.png");
    width: 50px;
    margin-right: 10px;
    &:active {      
    // text-shadow: 1px 1px $color-green-dark;
    }
  }

  @media screen and (max-width: 900px) {
    em {
      font-size: 1.2rem;
    }
    .top_header{
      &-title{
        font-size: 1.5rem;
      }
      &_auth-profil{
        width: 30px;
        margin-right: 0px;
      }
      &_auth-logout{
        width: 30px;
        margin-right: 0px;
      }
    }
  }
  