@import '../../../style/vars';

.container{

margin: 0px 0px;
width: 100%;
height: 100%;
}

// .section_right{
//    ;
// }

// .nav{
// position: relative;
// top :0px;
// display: flex-wrap;
// background-color: #877c7c;
// width: 20vw;



// &_link{
//         flex-direction: column;
        
     
//     }

// }

ul{
    margin:0;
    padding:0;
    width: 20vw;
  

}

li{
   display: block; 
}

p{
    text-align: justify;
}