@import '../../../style/vars';

.main_article{
  &-top{
    background-color: #E7E7E7;
    min-height: 300px;
    width: 60%;
    margin: 50px auto;
    border: 1px solid $color-junction;
    display: flex;
    border-radius: 4px;
    box-shadow: 0.1px 0.1px 1px 1px $color-green-medium;
    &:hover{
      box-shadow: 1px 1px 3px 1px $color-green-medium;
      // changement de couleur du titre des article au :hover de l'article
      & > .main_article-top_leftside > .main_article_rightside-title{
        color: $color-green-medium;
      }
    }
    &_leftside{
      width: 60%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-right: 1px solid $color-green-medium;
      box-shadow: 0px 0.1px 1px 1px $color-green-medium;
    }
  }

  

  &_rightside-content{
      text-align: justify;
      &_top10{
        font-size: 1.2rem;
        margin-top: 20px
      }
  }

  &-section-right{
    width: 50%;
  }


  &-imgTop10 {
    
    width:  20%;
    height: 20%;
    object-fit: contain;
    // padding: 50px;
    margin-left: 10%;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  &_rightside-content_top10{
    text-align: center;
  }
}

@media screen and (max-width: 900px) {

  .main_article-top{
    width: 100%;
    flex-direction: column-reverse;
  }
  .main_article-top_leftside{
    width: 100%;
    border-right: none;
    border-top: 1px solid $color-green-medium;
    box-shadow: 1px 0px 1px 1px $color-green-medium;
  }
  .main_article_rightside-content_top10{
    margin-top: 0px;
    font-size: 1rem;
  }
  .main_article-imgTop10{
    width: 80%;
    height: 80%;
    margin: 10%;
  }

}