@import '../../../style/vars';

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.connection{
    background-color: aqua;
  
    display: flex;
    flex-direction: column;
    width: 50%;
    // align-content: space-between;
    // display: flex;

    // &_email, &_password 
    //    flex-grow: 1;
    //    flex-direction: column;
    //    justify-content: space-between;
    // }
}

.register{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    width: 50%;
    // align-content: space-between;
    
}