@import '../../style/vars';
// CSS HEADER

.header {
    background-color: $color-background-medium;
    padding: 0 5px;
    border-bottom: 1px solid $color-green-medium;
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 10px 0px $color-green-medium;
  }
  