
$color-green-dark: #365912;
$color-green-medium: #83A603;
$color-green-light: #B0D91E;
$color-green-pale: #D4F294;
$color-background-medium: #EEEBE4;
$color-background-light: #e7e7e7;
$color-text-orange: #f1a369;
$color-junction: #b9b9b9;
