@import '../style/vars';

.App {
  text-align: center;
  background-color: $color-background-medium;
  min-height: 100vh;
  width: 100%;
  border-right: 1px solid $color-junction;
  border-left: 1px solid $color-junction;
}

// CSS MAIN

.main {
  padding: 10px 50px 10px 50px;
}

.main_article {
  background-color: #E7E7E7;
  min-height: 300px;
  margin: 50px 0;
  border: 1px solid $color-junction;
  display: flex;
  border-radius: 4px;
  box-shadow: 0.1px 0.1px 1px 1px $color-green-medium;

}

.main_article:hover {
  box-shadow: 1px 1px 3px 1px $color-green-medium;
  // &_rightside-title {
  //   color: $color-green-medium;
  // }
}

.main_article-img {
  width: 50%;
  object-fit: contain;
  padding-left: 1px;
}

.main_article_rightside {
  // pointer-events: inherit;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px
}

.main_article_rightside-title{
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-text-orange;
  text-shadow:  0.5px 0.5px $color-green-dark
}

.main_article_rightside-content {
  line-height: 1.5rem;
}



@media screen and (max-width: 900px) {
  .App {
    width: 100%;
  }

  .main_article{
    flex-direction: column;
    &-img {
      width: 100%;
      padding-left: 0px;
      padding: 1px;
    }
    &_rightside {
      width: 100%;
    }
  }


  .main {
    padding: 10px 15px 10px 15px;
  }
}