@import '../../../../style/vars';

.contact_form{
    &-title{
        font-size: 2rem;
        margin-bottom: 50px;
    }
    &-subtitle{
        font-size: 1.5rem;
        color: $color-green-medium;
        margin-bottom: 50px;
    }
    &-p{
        line-height: 1.5rem;
    }
    &-btn{
        margin-top: 50px;
    }
}