@import '../../../style/vars';

.nav_header {
    display: flex;
    justify-content: space-around;
    color: $color-text-orange;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow:  0.5px 0.5px $color-green-dark;

    &-link {
        font-size: 1.5rem;
      }
    &-link:hover {
        color: $color-green-medium;
      }
  }
