@import '../../../style/vars';

.nav_header {
    display: flex;
    justify-content: space-around;
    color: $color-text-orange;
    font-weight: bold;
    margin-bottom: 5px;
    text-shadow:  0.5px 0.5px $color-green-dark;
    // banderolle bulle pour la nav, a voir 
    // background-image: url("../../../assets/img/bulles_nav.jpg");
    // background-position: center;

    &-link {
        font-size: 1.5rem;
      }
    &-link:hover {
        color: $color-green-medium;
      }
  }

  @media screen and (max-width: 900px) {
    .nav_header-link{
      font-size: 1rem;
    }
  }